.wrapper {
  display: flex;
  width: 100%;
}

.side-menu {
  position: relative;
  text-align: initial;
}

.side-menu a {
  color: #5bcf6b;
  font-size: 30px;
}

.body {
  background-color: #4d4c00;
  height: 580px;
  width: 1600px;
  display: block;
  flex-direction: column;
  position: fixed;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.text-color1 {
  color: #f0b270 !important;
}
.text-color2 {
  color: #e38f71 !important;
}
.text-color3 {
  color: #a26b61 !important;
}
.text-color4 {
  color: #825d5b !important;
}
.text-color5 {
  color: #6f5f5c !important;
}

.bg-color-theme {
  background-color: #f0e9dc !important;
}
