.ProjectAreas {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #4c5365;
  text-align: center;
}

.ProjectAreas a {
  list-style: none;
  padding: 0;
  color: black;
}

.ProjectAreas a:hover{
  color: red;
  text-decoration: none;
}

.MapContainer {
  text-align: center;
  perspective: 200px;
  height: 100%;
  width: 70%;
}

.ProjectMap {
  width: 100%;
  height: 100%;
  background-image: url('../../../Assets/images/home/projectmap.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  transform: rotateY(-10deg);
}

.Teams {
  text-align: center;
  color: #4c5365;
  padding-top: 60px;
  padding-bottom: 40px;
}

.Team {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f1eeed;
  border-bottom: 1px solid #f1eeed;
  overflow: hidden;
  background: #fff;
  height: 100px;
}

.Team img {
  height: 50px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(0.9);
}

.Team:hover img {
  -webkit-filter: none;
  filter: none;
  transform: scale(1);
}
